<div class="container">
  <div class="omb_login">
<h3 class="omb_authTitle">Sign up</h3><hr />

<div class="col-xs-12 col-sm-6">
  <div class="input-group">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  </div>
    
  <span class="help-block"><%= devise_error_messages! %></span>

  <div class="input-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :autofocus => true %>
  </div>

  <div class="input-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="input-group">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="input-group">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="input-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div><br />

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
<% end %>
</div>
</div>
</div>