<div class="container">
	<h1> <%= @message %> </h1>
	<% @media.each_with_index do |media, index| %>
		<% if media.type == "image" %>
			<div class="thumbnail_object">	
			<input class="selection_checkbox hide-thumbnail" type="checkbox" id="<%=media.images.standard_resolution.url%>">
				<a href="<%=media.images.standard_resolution.url%>"><img class="fancybox search_result" src="<%=media.images.standard_resolution.url%>" height="240" width="240"></a>
			</div>
		<% elsif media.type == "video" %>
			<div class="thumbnail_object">	
			<input class="selection_checkbox hide-thumbnail" type="checkbox" id="<%=media.videos.standard_resolution.url%>">		
				<img id="<%=media.videos.standard_resolution.url%>" src="assets/play_icon.png" class="video_thumbnail search_result" width="240" height="240" border="0" style="background:URL(assets/dog.jpg) center center black;" />
			</div>
		<% end %>
	<% end %>


	<!--Eat and write links in javascript-->
	
</div>
