<script type="text/javascript">
  $(function() {
      var movieProject = new MovieStudio($('#TrackWrapper'));
  });
</script>
<% if !session[:tutorial_active].nil? %>
<script src="/javascripts/tutorial.js"></script>
  <div class='tutorial_overlay'>
    <div id='tut_slide1' class='paragraph'>
      Select either the Slideshow or Video editor from the drop down menu. Your favorites will appear in the palette on the right. Click and drag them into the timeline in the order you want. Give your project a title and click the Compile button!

      In a few short moments you'll see "Your Project is Ready!". Select 'Projects' from the drop down menu and enjoy!
      <a class='next' href='/recently_created_media'>Next!</a>
    </div>
  </div>
<% end %>
<div id="renderStatus">
  <% jobs = RenderQueue.where(user_id: current_user.id) %>
  <% unless jobs.empty? %>
    <% jobs.all.each do |job|%>
      <p>Rendering Movie <span><%= job.title %></span></p>
      <div class="progressbar" data-job="<%= job.job_id %>">
        <div class="bar"><span></span></div>
        <div class="label"><span></span><div class="perc"></div></div>
      </div>
    <% end %>
  <% end %>
</div>
<div id="moviePallet">
  <div class="palletOverflow">
    <% if @session_table.nil? || @session_table.empty? %>
      <div class="ohnoes">
        There are no Videos in your pallet!
      </div>
    <% else %>
      <% @session_table.each do |media|%>
        <div class="palletThumb" data-url="<%= media.url %>" data-thumbnail="<%= media.thumbnail %>" style="background: url(<%= media.thumbnail %>)">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="editorTimeline">
  <div id="editorTools">
    <div>&#60; Play &#62;</div>
    <div><span>Title: </span><input type='input' id='UI_movieTitle' placeholder='My First Movie'/></div>
    <div><span id="UI_render">Render Project</span></div>
  </div>
  <div id="editorTimeSlider"></div>
  <div id="editorTimeBar"></div>
  <div id="THeaderWrapper">
    <div id="editorTimeCurrent">
      <span>00:00:000ms</span>
    </div>
    <div id="THeader2">Track 2</div>
    <div id="THeader1">Track 1</div>
    <div id="THeader0">Track 0</div>
  </div>
  <div id="TrackWrapper">
    <div id="timelineGraph">
      <div id="editorTimeRuler">
        <div id="editorTimeRulerTrack">
        </div>
      </div>
    </div>
    <div id="trackVideo2"></div>
    <div id="trackVideo1"></div>
    <div id="trackVideo0"></div>
  </div>
</div>
