<!DOCTYPE html>
<html>
<head>
  <title>FreeCandy</title>
  <link rel='stylesheet' type='text/css' href='immybox.css'>
	<script src='jquery.immybox.min.js'></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type='text/javascript'>
	 	$(function() {

			$('#input1').immybox({
			  choices: [
			    {text: 'Bewbs', value: 'be'},
			    {text: 'Buttz', value: 'bu'}
			  ]
			});
		});
	</script>
</head>
<body>

<%= render 'layouts/navbar' %>

	<!-- we can put this in a partial if we decide on doing a nav bar -->
	<% flash.each do |name, msg| %>
		<% if msg.is_a?(String) %>
			<div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			</div>
		<%end%>
	<%end%>

<%= yield %>

</body>
</html>
